<div class="max-w-4xl mx-auto">
  <div class="flex py-3 border-b border-red-700">
    <div class="flex-1 text-3xl font-bold">HONG KONG RENT MAP</div>
    <div class="flex items-center">
      <div class="mr-3" [class.hidden]="!isLoading">
        <svg class="w-5 h-5 mr-3 -ml-1 text-white animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
      </div>
      <select
        [(ngModel)]="location"
        class="bg-white bg-opacity-25 border-none rounded-lg focus:ring-2 focus:ring-red-200 form-select"
      >
        <option value="hk" selected>Hong Kong</option>
        <option value="kw">Kowloon</option>
        <option value="nt">New Territories</option>
        <option value="islands">Outlying Islands</option>
      </select>
      <select
        [(ngModel)]="priceRange"
        class="ml-3 bg-white bg-opacity-25 border-none rounded-lg focus:ring-2 focus:ring-red-200 form-select"
      >
        <option value="5000-10000">5000-10000</option>
        <option value="10000-15000">10000-15000</option>
        <option value="15000-20000" selected>15000-20000</option>
        <option value="20000-40000">20000-40000</option>
      </select>
    </div>
  </div>
  <div>
    <h1 class="my-6 text-2xl">Monitoring</h1>
    <div class="grid grid-cols-3">
      <div class="flex mb-3 mr-3">
        <input
          class="w-20 bg-white bg-opacity-25 border-none rounded-l-lg active:bg-opacity-10 focus:ring-2 focus:ring-red-200 form-input"
          type="number"
          [(ngModel)]="offset"
        />
        <button
          (click)="refreshRentList()"
          class="flex-1 bg-white bg-opacity-25 border-none rounded-r-lg active:bg-opacity-10 focus:ring-2 focus:ring-red-200 form-input"
        >
          Refresh rent list
        </button>
      </div>
      <button
        (click)="updateAddresses()"
        class="mb-3 mr-3 bg-white bg-opacity-25 border-none rounded-lg active:bg-opacity-10 focus:ring-2 focus:ring-red-200 form-input"
      >
        Update addresses
      </button>
      <button
        (click)="updateCoordinates()"
        class="mb-3 bg-white bg-opacity-25 border-none rounded-lg active:bg-opacity-10 focus:ring-2 focus:ring-red-200 form-input"
      >
        Update coordinates
      </button>
      <button
        (click)="updateTravelTime()"
        class="mb-3 mr-3 bg-white bg-opacity-25 border-none rounded-lg active:bg-opacity-10 focus:ring-2 focus:ring-red-200 form-input"
      >
        Update transit time
      </button>
      <button
        (click)="removeUnavailableAds()"
        class="mb-3 mr-3 bg-white bg-opacity-25 border-none rounded-lg active:bg-opacity-10 focus:ring-2 focus:ring-red-200 form-input"
      >
        Remove unavailable ads
      </button>
      <button
        (click)="clearLogs()"
        class="mb-3 bg-white bg-opacity-25 border-none rounded-lg active:bg-opacity-10 focus:ring-2 focus:ring-red-200 form-input"
      >
        Clear logs
      </button>
      <button
        (click)="startFullRefresh()"
        class="col-span-3 mb-3 bg-white bg-opacity-25 border-none rounded-lg active:bg-opacity-10 focus:ring-2 focus:ring-red-200 form-input"
      >
        Start full refresh
      </button>
    </div>
    <p class="px-6 py-3 mt-6 bg-red-700 bg-opacity-25 rounded-lg">
      {{stateMessage || 'No message available.'}}
    </p>
    <div
      #scrollMe
      [scrollTop]="scrollMe.scrollHeight"
      class="px-6 py-3 mt-6 overflow-y-auto bg-red-700 bg-opacity-25 rounded-lg max-h-[32rem]"
      [class.hidden]="!listMessages.length"
    >
      <ul>
        <li *ngFor="let message of listMessages">
          <span class="mr-3 opacity-50 select-none">{{formatDate(message.datetime, 'yyyy/MM/dd HH:mm:ss')}}</span>
          <span
            [class.font-bold]="message.type === MessageLogType.Primary"
            [class.text-orange-300]="message.type === MessageLogType.Primary"
          >{{message.text}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
