<div class="py-6">
  <div class="flex">
    <button
      class="px-3 py-2 mr-3 text-white duration-150 bg-teal-400 rounded-lg shadow-lg dark:bg-teal-500 active:bg-teal-500 hover:scale-105"
      (click)="refreshRentList()"
    >
      Refresh rent list
    </button>
    <button
      class="px-3 py-2 mr-3 text-white duration-150 bg-teal-400 rounded-lg shadow-lg dark:bg-teal-500 active:bg-teal-500 hover:scale-105"
      (click)="updateAddresses()"
    >
      Update addresses
    </button>
    <button
      class="px-3 py-2 mr-3 text-white duration-150 bg-teal-400 rounded-lg shadow-lg dark:bg-teal-500 active:bg-teal-500 hover:scale-105"
      (click)="updateCoordinates()"
    >
      Update coordinates
    </button>
    <button
      class="px-3 py-2 mr-3 text-white duration-150 bg-teal-400 rounded-lg shadow-lg dark:bg-teal-500 active:bg-teal-500 hover:scale-105"
      (click)="updateTravelTime()"
    >
      Update travel time
    </button>
    <button
      class="px-3 py-2 mr-3 text-white duration-150 bg-teal-400 rounded-lg shadow-lg dark:bg-teal-500 active:bg-teal-500 hover:scale-105"
      (click)="retrieveRecords()"
    >
      Retrieve records
    </button>
    <select (change)="onNewLocation($event)" class="mr-3 text-white bg-teal-400 dark:bg-teal-500">
      <option value="hk">Hong Kong</option>
      <option value="kw">Kowloon</option>
      <option value="nt">New Territories</option>
    </select>
    <select (change)="onNewPriceRange($event)" class="text-white bg-teal-400 dark:bg-teal-500">
      <option value="5000-10000">5000-10000</option>
      <option value="10000-15000">10000-15000</option>
      <option value="15000-20000" selected>15000-20000</option>
      <option value="20000-40000">20000-40000</option>
    </select>
  </div>

  <div class="px-4 py-2 mt-12 bg-gray-200 dark:bg-gray-700">
    <div class="font-bold shadow-sm">State</div>
    <div>{{stateMessage}}</div>
  </div>

  <google-map [options]="options" width="100%" height="700px">

    <map-marker
      [position]="{ lat: 22.276899, lng: 114.16795195527641 }"
      [options]="{ label: 'SG' }"
    >
    </map-marker>

    <map-marker
      #mapMarker="mapMarker"
      *ngFor="let marker of markers"
      [position]="marker.position"
      [options]="{
        label: {
          text: transformPrice(marker.price),
          color: findMarkerColor(marker),
          className: 'shadow-sm'
        },
        icon: {
          url: findMarkerIcon(marker)
        }
      }"
      (mapClick)="openInfoWindow(mapMarker, marker)"
    >
    </map-marker>
      <!-- <map-info-window>{{currentPrice}}</map-info-window> -->
      <map-info-window>
        <div *ngIf="currentMarker" class="flex flex-col items-center">
          <img [src]="currentMarker.picture.thumbnail" class="object-cover w-48 h-32" />
          <div class="text-lg dark:text-gray-800"><b>{{timeToString(currentMarker.workTravelTime)}}</b> from work</div>
          <a
            [href]="currentMarker.detailUrl"
            target="_blank"
            class="text-lg dark:text-gray-800"
          >
            See more
          </a>
        </div>
      </map-info-window>
    <map-info-window>

    </map-info-window>
  </google-map>
</div>
